<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h3><strong>Ver Produto</strong></h3>
      </div>
      <h4>
        <strong>Nome:</strong> <%= @produto.nome %>
        <br/><br/>

        <strong>Descrição:</strong> <%= @produto.descricao %>
        <br/><br/>

        <strong>Preço Unitário:</strong> <%= @produto.precoUnitario %>
        <br/><br/>

        <strong>Quantidade em Estoque:</strong> <%= @produto.qtd_estoque%>
      </h4>
    </div>
  </div>
</div>

<%= link_to 'Voltar', produtos_path %>

